@model IEnumerable<ProjectInternetAppsTest.Models.Category>

@{ ViewData["Title"] = "Home Page"; @*we should insert by controller and then view this in the H1*@ }
<h1>@ViewData["Title"]</h1>

<p class="d-grid gap-2" @*for admin and supliers only not for users !!*@>
    <a asp-action="Create" class="btn btn-secondary">Create New</a> @*to change???????????????*@
</p>
@foreach (var item in Model)
{
    <div class="col p-4 text-center categorie-item">
        <a class="text-light" style="text-decoration:none" asp-controller="Home" asp-action="Category">
            <!--to insert each link!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <!--<img src="~/css/refrigerator_2x.png" alt="Category Name @item.Name" />-->
            <img src="@item.Img" alt="Category Name @item.Name" />  @*צריך להציג כתמונה - נדרשות המרות*@
            <p class="categorie-name">Category Name @item.Name</p>
        </a>
    </div>
}








@*Old*@

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Img)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Img)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
